BQPROJECTID=kossip-helpers
BQDATASET=contentbasesmetabase
BQSEMESTERTABLE=allusersquestionattemptdetailsforquestionsetunits
BQASSESSMENTTABLE=allusersquestionattemptdetailsforquestionsetunits
GOOGLEAPPLICATIONCREDENTIALS=./credentials.json
PORT=3002
FRONTEND_URL=http://localhost:5174
