PORT=3001
FRONTEND_URL=http://localhost:5173
BQ_PROJECT_ID=kossip-helpers
BQ_TABLE=content_bases_metabase.all_users_question_attempt_details_for_question_set_units
GOOGLE_APPLICATION_CREDENTIALS=./service-account-key.json
